@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

body {
    font-family: Montserrat;
}


a, a > code {
 color: #6f2c91;

}

.remark-slide-content {
  font-size: 24px;
   line-height: 1.5;
  color: #061c3b;
}

.remark-code {
  font-size: 14px;
}
